@import url('https://fonts.googleapis.com/css2?family=Anton&family=DynaPuff:wght@600&family=Josefin+Sans:ital@1&family=Lobster&family=Roboto+Slab:wght@200&family=Rubik+Dirt&family=Rubik+Maze&family=Rubik+Scribble&family=Silkscreen&family=Splash&family=Titan+One&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #7fbde3;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: 'Rubik Dirt', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: rgb(81, 125, 165);
    text-align: center;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    font-family: 'Rubik Dirt', sans-serif;
    background-color: transparent;
    color: rgb(81, 125, 165);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px){
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 20px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px){
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
        text-align: center;
    }

    img {
        height: 30vh;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}